@page "/admin/menber"
@namespace AuthSystem.Areas.Identity.Pages.User
@using App.Models.User
@model UserModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<table class="table table-striped">
    <tr>
        <th>Tên User</th>
        <th>Vai trò</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in @Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.listroles</td>
            <td>
                <form method="POST" class="d-inline">
                <button name="Input.ID" value="@user.Id" class="btn btn-success btn-sm" 
                        asp-page="./AddUserRole">Cập nhật</button>
                </form>
            </td>
        </tr>
        
    }
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{

    Func<int?,string> generateUrl = (int? _pagenumber)  => {
        return Url.Page("./User", new {pageNumber = _pagenumber});
    };

    var datapaging = new {
        currentPage = Model.pageNumber,
        countPages  = Model.totalPages,
        generateUrl =  generateUrl
    };

}
@*<partial name="_Paging" model="@datapaging" />*@